body {
    padding: 0;
    margin: 0;
    
    background-color: lemonchiffon;
}

h1 {
    text-align: center;
   
    font-size: 2.1rem;
    font-family: monospace;
    
}

.container {
    height: min(70vh, 100vw);
    width: min(70vh, 100vw);
    margin: auto;
}

#svg-field {
    width: 100%;
    height: 100%;
    background-color: white;
}

.btn-container {
    text-align: center;
    margin: 20px;
}

.btn-container button {
    min-width: 150px;
    min-height: 50px;
   
    background-color: darkolivegreen;
    font-weight: bold;
    color: blanchedalmond;
    
}