body {
    padding: 0;
    margin: 0;
    background-color: bisque;
}

h1 {
    text-align: center;
}

.container {
    height: min(70vh, 100vw);
    width: min(70vh, 100vw);
    margin: auto;
}

#svg-field {
    width: 100%;
    height: 100%;
    background-color: white;
}

.btn-container {
    text-align: center;
}

.btn-container button {
    min-width: 150px;
    min-height: 50px;
}