body {
    padding: 0;
    margin: 0;
    background-color: rgb(98, 135, 71);
}

h1 {
    text-align: center;
    font-family: serif;
    font-size: 2.1rem;
}

.container {
    height: min(70vh, 100vw);
    width: min(70vh, 100vw);
    margin: auto;
}

#svg-field {
    width: 100%;
    height: 100%;
    background-color: white;
}

.btn-container {
    text-align: center;
    margin: 75px;
}

.btn-container button {
    min-width: 150px;
    min-height: 50px;
    color: rgb(41, 37, 31);
    background-color: darkolivegreen;
}